.header{
   background-color: rgb(34, 82, 103); 
   color: white;
   height: 100px;
   line-height: 100px;
   position: fixed;
}

a:visited{color:white}

.mainbody{
    background-color:rgb(146, 169, 156);
}

img{
    display: block;
    width: 35%;
    margin-left:auto;
    margin-right:auto;
}

.footer{
    background-color: black;
    color: white;
    height: 25px;
    line-height: 25px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.common{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left:auto;
    margin-right:auto;
}

nav{
    background-color: palevioletred;
    padding: 10px;
    overflow: hidden;
}

nav a{
color: white;
padding: 10px;
font-size: 16px;
font-weight: bold;
text-decoration: none;
float: left;
}

nav :hover{
    background-color: #ccc;
}
